.tokens > main > h3 {
  margin: 20px 0;
}

.tokens .list-group-item > button,
.tokens .list-group-item > a {
  display: inline-block;
  margin-top: 10px;
}

.tokens .list-group {
  margin-top: 20px;
}
